<ul id="slide-out" class="side-nav fixed">
  <li id="liSideNavTitle" class="no-hover"><div class="">
    <a href="#!name">Admin Panel</a>
    <a href="#!email"><%= current_user.email_id %></a>
  </div></li>
  <li><div class="divider"></div></li>
  <li class="no-hover"><a class="subheader">Products</a></li>
  <li><a class="waves-effect" href="#!">All Products</a></li>
  <li><a class="waves-effect" href="#!">Add Product</a></li>
</ul>