<style>
.card:hover .card-image img {
width: auto;
height: auto;
}
</style>
     <div class="row">
          <% products['products'].each_with_index do |product, index| %>
          <div class="card">
        <div class="col m4">

                <div class="card medium">

                  <div class="card-image width:auto height:auto">
                    <img class="responsive-img" src="http://localhost:8888/assets/<%= product['product_id']%>.jpg" >

                  </div>
                  <div class="card-content font-size:50px font-family:Times New Roman">
                    <p>$<%= product['price']%></p>
                  </div>
                  <div class="card-action">
                    <a href="/product/<%= product['product_id']%>"><%= product['product_name'] %></a>
                  </div>

                </div>
              </div>
              </div>
               <% end %>
           </div>








