<div class="section">
  <div>
    <select id="categorySelectedId" onChange="MERCATO.Home.getProducts(this)">
      <option value="" disabled selected>Category</option>
      <% @categories['categories'].each do |cat| %>
          <option value="<%= cat['category_id'] %>"><%= cat['category_name']%></option>

      <%end %>

    </select>
    <div id="productsDiv"></div>
  </div>
</div>