<div>
  <% if current_user %>
    <h1>Welcome, <%= current_user.first_name %></h1>
  <% else %>
    <h1><small>home page</small></h1>
  <% end %>

<h5>Select a category </h5>
<select id="categorySelectedId" onChange="MERCATO.Home.getProducts(this)">
<% @categories['categories'].each do |cat| %>
<option value="<%= cat['category_id'] %>"><%= cat['category_name']%></option>

<%end %>

</select>
<div id="divTableSection"></div>

</div>

